#link_button {
    color: var(--color-always-white) !important;
}

#header-user{
  border-radius: 8px;
  padding: 4px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  background-color: var(--color-primary);
}