/*
.parallax {
     position: relative;
     overflow: hidden;
}
 .parallax::before {
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     z-index: 0;
     opacity: 0.35;
     filter: blur(0px);
}
 .parallax:nth-child(odd)::before {
     background-image: url("../image/parallax_1.jpg");
}
 .parallax:nth-child(even)::before {
     background-image: url("../image/parallax_2.jpg");
}
*/
 
