@media (width <= 576px) {
  .mobile-padding {
      padding: 20px 15px !important;
      margin: 0 !important;
  }
}

@media (width <= 820px) {
  .mobile-centering {
      display: flex;
      justify-content: center;
  }
}