.slider{
  position:absolute;
  cursor:pointer;
  top:calc(50% - var(--slider-height)/ 2);
  right:5%;
  background-color:var(--color-secondary);
  transition:var(--slider-transition-speed);
  border-radius:calc(var(--slider-height)/ 2);
  height:var(--slider-height);
  width:var(--slider-width);
  border-radius:calc(var(--slider-height)/ 2) 
}
.slider:before{
  position:absolute;
  content:"";
  height:var(--slider-handle-size);
  width:var(--slider-handle-size);
  background-color:var(--color-bg-tertiary);
  transition:var(--slider-transition-speed);
  border-radius:50%;
  border-radius:50% 
}
input:checked+.slider{
  background-color:var(--color-primary) 
}
input:checked+.slider:before{
  transform:translateX(var(--slider-translate)) 
}
