.summary-module {
  border: 3px solid var(--color-tertiary);
  border-radius: 20px;
  padding: 10px;
  opacity: 1;
}

.summary-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
  z-index: 1;
  padding: 10px;
  position: relative;
  background-color: var(--color-secondary);
  border-radius: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.summary-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
  z-index: 1;
  position: relative;
}

.thick-horizontal-line{
  opacity: 1;
  border-bottom: 2px solid var(--color-primary);
  color: var(--color-primary);
}

.horizontal-line{
  border-bottom: 2px solid var(--color-primary);
}

.income {
  font-size: 16px;
}

.positive {
  color: rgb(60, 124, 60)
}

.negative {
  color: rgb(220 81 81);
}

.summary-body {
  margin-top: 10px;
  z-index: 1;
  position: relative;
}

.transaction {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.transaction:nth-child(2n) {
  border-bottom: 1px solid var(--color-primary);
}

.transaction:nth-child(2n+1) {
  border-bottom: 1px solid var(--color-secondary);
}

.transaction-date, .transaction-category, .transaction-amount {
  flex: 1;
}

.divider-line {
    margin: 0;
    border: none;
    height: 1px;
    background-color: #ccc;
}

.thick-divider-line {
  margin: 0;
  border: none;
  height: 3px;
  background-color: var(--color-bg-secondary);
}

.thick-black-divider-line {
  margin: 0;
  margin-top: 10px;
  border: none;
  height: 3px;
  background-color: #000;
}

.bold-text {
  font-size: 1.2em;
  font-weight: bold;
}