.d-none{
  display:none 
}

.no-select{
  user-select:none 
}

.white{
  color: var(--color-always-white);
}

.black{
  color: var(--color-always-black);
}

.bold{
  font-weight: bold;
}

.z-100{
  z-index: 100;
}

.z-5{
  z-index: 100;
}

.x-25 {
  transform: translateX(25%);
}

.y-25 {
  transform: translateY(25%);
}

.x-50 {
  transform: translateX(50%);
}

.y-50 {
  transform: translateY(50%);
}

.x-75 {
  transform: translateX(75%);
}

.y-75 {
  transform: translateY(75%);
}

.width-100{
  width: 100%;
}

.vert-center{
  display: flex;
  align-items: center;
}

.spacer-left{
  margin-left: 10px;
}

.spacer-right{
  margin-right: 10px;
}

.small-spacer-right{
  margin-right: 4px;
}

.spacer-top{
  margin-top: 10px;
}

.spacer-bottom{
  margin-bottom: 10px;
}

.max-height{
  height: 100vh;
  }

.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.opacity-half {
  opacity: 0.5;
}

.opacity-full {
  opacity: 1.0;
}

.padding-10{
  padding: 10px;
}

.multi-choice{
  overflow-y:scroll;
  max-height: 200px;
  border-radius: 8px;
}

.multi-choice-option{
  background-color: var(--color-bg-secondary);
}

.h-50{
  height: 50%;
}

.fixed-button-width{
  width: 160px;
}

.icon-placeholder {
  display: inline-block;
  width: 24px;
  margin-left: 8px;
}