{% extends "base.html" %}
{% block title %}
  Správa rozpočtů
{% endblock title %}
{% block content %}
  {% include "header.html" %}
  <div class="container mt-5 d-flex flex-column align-items-center">
    {% for budget in budgets %}
      <form class="summary-module edit-budget-form d-flex flex-column mb-3 w-100"
            method="post"
            action="">
        {% csrf_token %}
        <!-- first row-->
        <div class="row w-100 mb-3" data-budget-id="{{ budget.id }}">
          <!-- Kategorie-->
          <div class="col-md-4">
            <div class="budget-categories flex-grow-1 px-2">
              <b>Kategorie</b>
              <div class="form-check multi-choice">
                {% for category_preference in categories %}
                  <label class="form-check-label">
                    <input type="checkbox"
                           class="form-check-input"
                           name="categories"
                           value="{{ category_preference.category.id }}"
                           {% if category_preference.category in budget.categories.all %}checked{% endif %}>
                    {{ category_preference.category.name }}
                  </label>
                  <br>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <!-- Název -->
            <div class="budget-name h-50 px-2 spacer-bottom">
              <b>Název</b>
              <input type="text"
                     name="name"
                     class="form-control"
                     value="{{ budget.name }}">
            </div>
            <!-- Limit -->
            <div class="budget-limit h-50 px-2">
              <b>Limit</b>
              <input type="decimal"
                     name="limit"
                     class="form-control"
                     value="{{ budget.limit }}">
            </div>
          </div>
          <div class="col-md-4 budget-period">
            <!-- Obdobi -->
            <div class="spacer-bottom h-50">
              <b>Období od</b>
              <input type="date"
                     name="period_start"
                     class="form-control"
                     value="{{ budget.period_start|date:"Y-m-d" }}">
            </div>
            <div class="h-50">
              <b>Období do</b>
              <input type="date"
                     name="period_end"
                     class="form-control"
                     value="{{ budget.period_end|date:"Y-m-d" }}">
            </div>
          </div>
        </div>
        <!-- Popis -->
        <div class="row px-3 spacer-top">
          <b>Popis</b>
          <textarea name="description" class="form-control" rows="3">{{ budget.description }}</textarea>
        </div>
        <!-- Ovladaci tlacitka -->
        <div class="row justify-content-center spacer-top">
          <button type="button"
                  class="btn btn-primary fixed-button-width edit-budget-btn spacer-right"
                  data-budget-id="{{ budget.id }}">Uložit změny</button>
          <button type="button"
                  class="btn btn-secondary fixed-button-width delete-budget-btn spacer-left"
                  data-budget-id="{{ budget.id }}">Smazat rozpočet</button>
        </div>
      </form>
    {% endfor %}
  </div>
  {% load static %}
  <script src="{% static 'js/budgets.js' %}" defer></script>
{% endblock content %}
