{% extends "base.html" %}
{% block title %}
  Správa rozpočtů
{% endblock title %}
{% block content %}
  {% include "header.html" %}
  <div class="container mt-5 d-flex flex-column align-items-center">
    <div class="container mt-5 d-flex flex-column align-items-center">
      <table class="mb-3" id="table_view">
        <tbody>
          {% for budget in budgets %}
            <tr>
              <td rowspan="2">
                <div>
                  <b>Kategorie</b>
                  <div class="form-check">
                    {% for category_preference in categories %}
                      <label class="form-check-label">
                        <input type="checkbox"
                               class="form-check-input"
                               name="categories"
                               value="{{ category_preference.category.id }}"
                               {% if category_preference.category in budget.categories.all %}checked{% endif %}>
                        {{ category_preference.category.name }}
                      </label>
                      <br>
                    {% endfor %}
                  </div>
                </div>
              </td>
              <td>
                <div>
                  <b>Název</b>
                  <input type="text" class="form-control" value="{{ budget.name }}">
                </div>
              </td>
              <td>
                <div>
                  <b>Limit</b>
                  <input type="decimal" class="form-control" value="{{ budget.limit }}">
                </div>
              </td>
              <td>
                <div>
                  <b>Období od</b>
                  <input type="date"
                         class="form-control"
                         value="{{ budget.period_start|date:"Y-m-d" }}">
                </div>
              </td>
              <td>
                <div>
                  <b>Období do</b>
                  <input type="date"
                         class="form-control"
                         value="{{ budget.period_end|date:"Y-m-d" }}">
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="4">
                <div>
                  <b>Popis</b>
                  <textarea class="form-control" rows="3">{{ budget.description }}</textarea>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="5" class="text-end">
                <button type="button"
                        class="btn btn-link p-0 edit-category fa-lg"
                        data-category-id="{{ preference.category.id }}">
                  <i class="fas fa-save text-primary"></i>
                </button>
                <button type="button"
                        class="btn btn-link p-0 delete-category fa-lg"
                        data-category-id="{{ preference.category.id }}">
                  <i class="fas fa-trash-alt text-danger"></i>
                </button>
              </td>
            </tr>
            <tr>
              <td colspan="5">
                <hr>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% include "modal_create_transaction.html" %}
{% endblock content %}
