{% extends "base.html" %}
{% block title %}
  Kategorie
{% endblock title %}
{% block content %}
  {% include "header.html" %}
  <div class="container mt-5 d-flex flex-column align-items-center">
    <table class="mb-3" id="table_view_2">
      <thead>
        <tr>
          <th>Název kategorie</th>
          <th>Barva</th>
        </tr>
      </thead>
      <tbody id="categories-table-body">
        {% for preference in categories %}
          <form class="edit-category-form" method="post" action="">
            {% csrf_token %}
            <!--ToDo - use divs instead of normal table-->
            <tr data-category-preference-id="{{ preference.id }}">
              <td>
                {% if preference.category.is_default == False %}
                  <input type="text"
                         name="name"
                         class="form-control category-name"
                         value="{{ preference.category.name }}">
                {% else %}
                  <input type="text"
                         class="form-control category-name"
                         value="{{ preference.category.name }}"
                         disabled>
                {% endif %}
              </td>
              <td class="d-flex align-items-center">
                <input type="color"
                       name="color"
                       class="form-control form-control-color category-color me-2"
                       value="{{ preference.color }}">
              </td>
              <td class="text-center">
                <!-- Ikona pro úpravu -->
                <button type="button"
                        class="btn btn-link p-0 edit-category-btn"
                        data-category-preference-id="{{ preference.id }}">
                  <i class="fas fa-save text-primary"></i>
                </button>
              </td>
              <td class="text-center">
                <!-- Ikona pro smazání -->
                {% if preference.category.is_default == False %}
                  <button type="button"
                          class="btn btn-link p-0 delete-category-btn"
                          data-category-preference-id="{{ preference.id }}">
                    <i class="fas fa-trash-alt text-danger"></i>
                  </button>
                {% endif %}
              </td>
            </tr>
          </form>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% load static %}
  <script src="{% static 'js/categories.js' %}" defer></script>
{% endblock content %}
