{% extends "base.html" %}
{% block title %}
  Kategorie
{% endblock title %}
{% block content %}
  {% include "header.html" %}
  <div class="container mt-5 d-flex flex-column align-items-center">
    <div class="categories-container mb-3" id="table_view_2">
      <div class="categories-header d-flex">
        <div class="category-name-header flex-grow-1">
          <strong>Název kategorie</strong>
        </div>
        <div class="category-color-header flex-grow-1">
          <strong>Barva</strong>
        </div>
      </div>
      <div class="categories-body spacer-top" id="categories-table-body">
        {% for preference in categories %}
          <form class="edit-category-form d-flex align-items-center mb-2"
                method="post"
                action="">
            {% csrf_token %}
            <div class="category-row d-flex align-items-center w-100"
                 data-category-preference-id="{{ preference.id }}">
              <div class="category-name flex-grow-1">
                {% if preference.category.is_default == False %}
                  <input type="text"
                         name="name"
                         class="form-control category-name"
                         value="{{ preference.category.name }}">
                {% else %}
                  <input type="text"
                         name="name"
                         class="form-control category-name"
                         value="{{ preference.category.name }}"
                         {% if preference.category.is_default %}readonly{% endif %}>
                {% endif %}
              </div>
              <div class="category-color d-flex align-items-center flex-grow-1 px-2">
                <input type="color"
                       name="color"
                       class="form-control form-control-color category-color me-2"
                       value="{{ preference.color }}">
              </div>
              <div class="edit-actions text-center px-2">
                <button type="button"
                        class="btn btn-link p-0 edit-category-btn"
                        data-category-preference-id="{{ preference.id }}"
                        data-is-default="{{ preference.category.is_default }}">
                  <i class="fas fa-save text-primary"></i>
                </button>
              </div>
              <div class="icon-placeholder">
                {% if preference.category.is_default == False %}
                  <button type="button"
                          class="btn btn-link p-0 delete-category-btn"
                          data-category-preference-id="{{ preference.id }}">
                    <i class="fas fa-trash-alt text-danger"></i>
                  </button>
                {% endif %}
              </div>
            </div>
          </form>
        {% endfor %}
      </div>
    </div>
  </div>
  {% load static %}
  <script type="module" src="{% static 'js/categories.js' %}" defer></script>
{% endblock content %}
