{% load custom_filters %}
<!-- NOTIFICATIONS MODAL -->
<div class="modal fade"
     id="notifications-modal"
     tabindex="-1"
     aria-labelledby="notifications-modal"
     aria-hidden="true">
  <div class="modal-dialog modal-xxl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="notifications-modal-label">
          Upozornění na překročení limitu u jednoho nebo více rozpočtu
        </h5>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% for notification in notifications %}
        {% if not notification.is_read %}
          <div class="summary-module spacer-bottom">

            <div class="row">
              <div class="col-md-8 d-flex align-items-center">
                {{ notification.message }}
              </div>
              <div class="col-md-4 text-end">
                <button type="button" class="btn btn-primary" onclick="updateNotification({{ notification.id }}, this)">Nezobrazovat notifikaci</button>
              </div>
            </div>

          </div>
        {% endif %}
        {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zavřít</button>
      </div>
    </div>
  </div>
</div>

<script>

  function updateNotification(notificationId, btn) {
    fetch(`/update-notification/${notificationId}/`, {
        method: 'POST',
        headers: {
            'X-CSRFToken': csrfToken,
            'Content-Type': 'application/json',
        },
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === 'success') {
            btn.textContent = "Notifikace se příště již nebude zobrazovat";
            btn.disabled = true;
            btn.classList.remove('btn-primary');
            btn.classList.add('btn-secondary');
        } else {
            console.error(data.message);
        }
    })
    .catch(error => console.error('Error:', error));
  }
</script>
