<!DOCTYPE html>
<div class="modal fade"
     id="account-modal"
     tabindex="-1"
     aria-labelledby="account-modal-label"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="account-modal-label">Vytvořit nové konto</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <form method="post" action="">
                <!--{% csrf_token %}-->
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="input-field" class="form-label">TODO</label>
                        <input type="text" class="form-control" id="input-field" name="field_name">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Vytvořit</button>
                </div>
            </form>
        </div>
    </div>
</div>
