<!DOCTYPE html>
<div class="modal fade"
     id="transaction-modal"
     tabindex="-1"
     aria-labelledby="transaction-modal-label"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="transaction-modal-label">Vytvořit transakci</h5>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <form method="post" action="">
        <!--{% csrf_token %}-->
        <div class="modal-body">
          <!-- Transaction amount -->
          <div class="mb-3">
            <label for="transaction-amount" class="form-label">Částka (Kč)</label>
            <input type="number"
                   class="form-control"
                   id="transaction-amount"
                   name="amount"
                   step="100"
                   min="0"
                   placeholder="Zadejte částku">
          </div>
          <!-- Transaction date -->
          <div class="mb-3">
            <label for="transaction-date" class="form-label">Datum transakce</label>
            <input type="date"
                   class="form-control"
                   id="transaction-date"
                   name="transaction_date">
          </div>
          <!-- Transaction category -->
          <div class="mb-3">
            <label for="transaction-category" class="form-label">Kategorie</label>
            <div class="d-flex">
              <select class="form-select" id="transaction-category" name="category">
                <option value="grocery">Potraviny</option>
                <option value="salary">Plat</option>
                <option value="entertainment">Zábava</option>
                <option value="utilities">Služby</option>
                <option value="other">Ostatní</option>
              </select>
              <button type="button"
                      class="btn btn-primary ms-2 width-100"
                      data-bs-toggle="modal"
                      data-bs-target="#custom-category-modal">Vytvořit novou kategorii</button>
            </div>
          </div>
          <!-- Transaction name -->
          <div class="mb-3">
            <label for="transaction-name" class="form-label">Název</label>
            <input type="text"
                   class="form-control"
                   id="transaction-name"
                   name="name"
                   placeholder="Zadejte název transakce">
          </div>
          <!-- Transaction note -->
          <div class="mb-3">
            <label for="transaction-note" class="form-label">Poznámka</label>
            <textarea class="form-control"
                      id="transaction-note"
                      name="note"
                      rows="3"
                      placeholder="Zadejte poznámku k transakci"></textarea>
          </div>
          <!-- Recurrent transaction checkbox and button container -->
          <div class="mb-3 d-flex justify-content-between align-items-center">
            <!-- Recurrent transaction checkbox -->
            <div class="form-check me-3 flex-grow-1">
              <input type="checkbox"
                     class="form-check-input"
                     id="recurrent-transaction"
                     name="recurrent"
                     onchange="toggleRecurrenceModal()">
              <label class="form-check-label no-select" for="recurrent-transaction">Rekurentní transakce</label>
            </div>
            <!-- Button to open the recurrence modal -->
            <button type="button"
                    class="btn btn-primary flex-grow-1"
                    id="set-recurrence-btn"
                    data-bs-toggle="modal"
                    data-bs-target="#recurrence-modal"
                    disabled>Nastavení rekurence</button>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Vytvořit transakci</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% include "modal_create_category.html" %}
{% include "modal_create_reccurent_transaction.html" %}
