<!DOCTYPE html>
<div class="modal fade"
     id="add-user-modal"
     tabindex="-1"
     aria-labelledby="add-user-modal-label"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="add-user-modal-label">Přidat uživatele do rozpočtu</h5>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="add-user-form">
          {% csrf_token %}
          <input type="hidden" name="budget_id" id="budget-id">
          <!-- Výběr uživatele -->
          <div class="mb-3">
            <label for="user-id" class="form-label">ID uživatele</label>
            <input type="text" class="form-control" name="username" id="added_user_id">
          </div>
          <!-- Notification Mode -->
          <div class="mb-3">
            <label class="form-label">Notifikační režim</label>
            <div class="d-flex gap-4 justify-content-center">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="app-notifications">
                <label class="form-check-label" for="app-notifications">APP</label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="email-notifications">
                <label class="form-check-label" for="email-notifications">EMAIL</label>
              </div>
            </div>
          </div>
          <!-- Permission -->
          <div class="mb-3">
            <label for="_permission" class="form-label">Permission</label>
            <select name="_permission" id="_permission" class="form-select">
              <option value="EDIT">EDIT</option>
              <option value="VIEW">VIEW</option>
            </select>
          </div>
          <!-- Role -->
          <div class="mb-3">
            <label for="_role" class="form-label">Role</label>
            <select name="_role" id="_role" class="form-select">
              <option value="PARTICIPANT">Účastník</option>
              <option value="OBSERVER">Pozorovatel</option>
            </select>
          </div>
          <div class="d-flex justify-content-end">
            <button class="btn btn-primary" id="create-shared-budget-btn">Přidat uživatele</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
    //Pro posílání budget.id jako skrytého inputu ve formuláři
    document.addEventListener('DOMContentLoaded', function() {
        const addUserButtons = document.querySelectorAll('.add-shared-user-btn');

        addUserButtons.forEach(button => {
            button.addEventListener('click', function() {
                const budgetId = button.dataset.budgetId;

                document.getElementById('budget-id').value = budgetId;
            });
        });
    });
</script>
{% load static %}
<script type="module" src="{% static 'js/create_shared_budget.js' %}" defer></script>
