<!DOCTYPE html>
{% load custom_filters %}

<div class="summary-module parallax">
  <div class="summary-header">
    <div class="row width-100">
      <div class="col-md-3 vert-center">
        <span class="month bold">
          {{ summary.month }} {{ summary.year }}
        </span>
      </div>
      <div class="col-md-3 vert-center">
        <span class="income positive">
          +{{ summary.positive_income | spaced_number }} Kč
        </span>
      </div>
      <div class="col-md-3 vert-center">
        <span class="income negative">
          -{{ summary.negative_income | spaced_number }} Kč
        </span>
      </div>
      <div class="col-md-3 vert-center">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#statistics-modal">
          Zobrazit statistiku
        </button>
      </div>
    </div>
  </div>
  <div class="summary-body">
    
    {% for transaction in summary.transactions %}

      {% if transaction.amount|is_positive  %}
        <div class="transaction-amount outcoming-transaction">
      {% else %}
        <div class="transaction-amount incoming-transaction">
      {% endif %}

          <div class="row width-100">
            <div class="col-md-3 vert-center">
              <span class="transaction-date">{{ transaction.date }}</span>
            </div>
            <div class="col-md-3 vert-center">
              <span class="transaction-source">{{ transaction.source }}</span>
            </div>
            <div class="col-md-3 vert-center">
            
              {% if transaction.amount|is_positive  %}
              <span class="transaction-amount positive">
                +{{ transaction.amount|spaced_number }} Kč 
              </span>
              {% else %}
              <span class="transaction-amount negative">
                {{ transaction.amount|spaced_number }} Kč 
              </span>
              {% endif %}
            
            </div>
            <div class="col-md-3 vert-center">
              <!-- Empty so it aligns with header, perhaps add something here -->
            </div>
          </div>

      <!-- This is retarded but linter complains otherwise -->
      {% if transaction.amount|is_positive %}
        </div>
      {% else %}
        </div>
      {% endif %}

    {% endfor %}

  </div>
</div>