<!DOCTYPE html>
{% load custom_filters %}
<div class="summary-module parallax">
  <div class="summary-header">
    <div class="row width-100">
      <div class="col-md-3 vert-center">
        <span class="month bold">{{ summary.month }} {{ summary.year }}</span>
      </div>
      <div class="col-md-3 vert-center">
        <span class="income positive">+{{ summary.income | spaced_number }} Kč</span>
      </div>
      <div class="col-md-3 vert-center">
        <span class="income negative">-{{ summary.expanses | spaced_number }} Kč</span>
      </div>
      <div class="col-md-3 vert-center">
        <button type="button"
                class="btn btn-primary show-statistics"
                data-bs-toggle="modal"
                data-bs-target="#statistics-modal-{{ summary.month }}-{{ summary.year }}">Zobrazit statistiku</button>
      </div>
    </div>
  </div>
  <div class="summary-body">
    {% for transaction in summary.transactions %}
      <hr class="divider-line">
      <div class="transaction-amount {% if transaction.amount > 0 %}outcoming-transaction{% else %}incoming-transaction{% endif %}">
        <div class="row width-100">
          <div class="col-md-3 vert-center">
            <span class="transaction-date">{{ transaction.performed_at }}</span>
          </div>
          <div class="col-md-3 vert-center">
            <span class="transaction.title">{{ transaction.name }}</span>
          </div>
          <div class="col-md-3 vert-center">
            <span class="transaction-source">{{ transaction.category.name }}</span>
          </div>
          <div class="col-md-2 vert-center">
            <span class="transaction-amount {% if transaction.amount > 0 %}positive{% else %}negative{% endif %}">
              {% if transaction.amount > 0 %}
                +{{ transaction.amount|spaced_number }} Kč
              {% else %}
                {{ transaction.amount|spaced_number }} Kč
              {% endif %}
            </span>
          </div>
          <div class="col-md-1 vert-center">
            <button type="button"
                    class="btn btn-link"
                    title="Detail transakce"
                    data-bs-toggle="modal"
                    data-bs-target="#edit-transaction-modal">
              <i class="fas fa-ellipsis-h" style="color: var(--color-text-tertiary);"></i>
            </button>
          </div>
        </div>
      </div>
    {% endfor %}
    <hr class="divider-line">
  </div>
</div>
{% include "modal_show_statistics.html" %}
