<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}Obnova hesla dokončena{% endblock title %}
{% block content %}
  <div class="container max-height">
    <div class="row login-container align-items-center">
      <h2 class="card-title text-center mb-4">Obnova hesla dokončena</h2>
      <p class="card-text text-center mb-4">Vaše heslo bylo úspěšně obnoveno. Nyní se můžete přihlásit pomocí nového hesla.</p>
      <div class="text-center">
        <button type="button" class="btn btn-primary w-100" onclick="window.location.href='{% url 'login' %}'">
          Zpět na přihlašovací stránku
        </button>
      </div>
    </div>
  </div>
{% endblock content %}
