<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}Obnova hesla{% endblock title %}
{% block content %}
  <div class="container max-height">
    <div class="row login-container align-items-center">
      <h2 class="card-title text-center mb-4">Zapomněli jste heslo?</h2>
      <p class="card-text text-center mb-4">Zadejte Vaší emailovou adresu pro obdržení zprávy s odkazem na obnovu hesla.</p>
      <form method="post" class="text-center">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary w-100">Odeslat obnovovací odkaz</button>
      </form>
    </div>
  </div>
{% endblock content %}
