<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}
  Password Reset
{% endblock title %}
{% block content %}
  <div class="container max-height">
    <div class="row login-container align-items-center">
      <h2 class="text-center mb-4">Zapomněli jste heslo?</h2>
      <p class="text-center mb-4">Zadejte svůj email, abyste obdrželi odkaz na obnovení hesla.</p>
      <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="mb-3">
          <label for="reset-email" class="form-label">Emailová adresa</label>
          <input type="email"
                 name="email"
                 class="form-control {% if form.email.errors %}is-invalid{% endif %}"
                 id="reset-email"
                 placeholder="např. jan.novak@email.com"
                 value="{{ form.email.value|default_if_none:'' }}">
          {{ form.email.errors }}
        </div>
        <a href="{% url 'login' %}"><i class="fas fa-arrow-left spacer-right"></i>Zpět na přihlášení</a>
        <div class="spacer-bottom"></div>
        <button type="submit" class="btn btn-primary w-100">Odeslat odkaz na obnovení</button>
      </form>
    </div>
  </div>
{% endblock content %}
