<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}
  Enter New Password
{% endblock title %}
{% block content %}
  <div class="container max-height">
    <div class="row login-container align-items-center">
      <h2 class="text-center mb-4">Zadejte nové heslo</h2>
      <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="mb-3">
          <label for="new-password1" class="form-label">Nové heslo</label>
          <input type="password"
                 name="new_password1"
                 class="form-control {% if form.new_password1.errors %}is-invalid{% endif %}"
                 id="new-password1"
                 placeholder="********">
          {{ form.new_password1.errors }}
        </div>
        <div class="mb-3">
          <label for="new-password2" class="form-label">Potvrzení nového hesla</label>
          <input type="password"
                 name="new_password2"
                 class="form-control {% if form.new_password2.errors %}is-invalid{% endif %}"
                 id="new-password2"
                 placeholder="********">
          {{ form.new_password2.errors }}
        </div>
        <button type="submit" class="btn btn-primary w-100">Nastavit nové heslo</button>
      </form>
    </div>
  </div>
{% endblock content %}
