<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}
  Password Reset
{% endblock title %}
{% block content %}
  <div class="container max-height">
    <div class="row login-container align-items-center">
      <h2 class="text-center mb-4">Reset hesla</h2>
      <p class="text-center mb-4">Jestliže existuje účet s tímto emailem, tak se tam poslal email na obnovení hesla.</p>
      <a href="{% url 'login' %}"><i class="fas fa-arrow-left spacer-right"></i>Zpět na přihlašovací stránku</a>
    </div>
  </div>
{% endblock content %}
