<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}
  Register success
{% endblock title %}
{% block content %}
  <div class="container max-height">
    <div class="row login-container align-items-center">
      <h2 class="text-center mb-4">Registrace byla úspěšná</h2>
      <p class="text-center mb-4">Na zadaný email byl poslán odkaz na ověření.</p>
      <a href="{% url 'login' %}"><i class="fas fa-arrow-left spacer-right"></i>Zpět na přihlašovací stránku</a>
    </div>
  </div>
{% endblock content %}
