{% extends "base.html" %}
{% block title %}
  Register
{% endblock title %}
{% block content %}
  <div class="container max-height">
    <div class="row login-container align-items-center">
      <h2 class="text-center mb-4">Registrace</h2>
      <form id="register-form">
        {% csrf_token %}
        <div class="mb-3">
          <label for="register-username" class="form-label">Uživatelské jméno</label>
          <input type="text"
                 class="form-control"
                 id="register-username"
                 name="username"
                 placeholder="jan.novak">
        </div>
        <div class="mb-3">
          <label for="register-email" class="form-label">Email</label>
          <input type="email"
                 class="form-control"
                 id="register-email"
                 name="email"
                 placeholder="jan.novak@example.com">
        </div>
        <div class="mb-3">
          <label for="register-firstname" class="form-label">Jméno</label>
          <input type="text"
                 class="form-control"
                 id="register-firstname"
                 name="first_name"
                 placeholder="Jan">
        </div>
        <div class="mb-3">
          <label for="register-lastname" class="form-label">Příjmení</label>
          <input type="text"
                 class="form-control"
                 id="register-lastname"
                 name="last_name"
                 placeholder="Novák">
        </div>
        <div class="mb-3">
          <label for="register-password" class="form-label">Heslo</label>
          <input type="password"
                 class="form-control"
                 id="register-password"
                 name="password1"
                 placeholder="********">
        </div>
        <div class="mb-3">
          <label for="confirm-password" class="form-label">Potvrzení hesla</label>
          <input type="password"
                 class="form-control"
                 id="confirm-password"
                 name="password2"
                 placeholder="********">
        </div>
        <a href="{% url 'login' %}"><i class="fas fa-arrow-left spacer-right"></i>Již máte účet? Zpět na přihlašovací stránku</a>
        <button type="button"
                id="register-btn"
                class="btn btn-primary w-100 spacer-top">Registrovat</button>
      </form>
    </div>
  </div>
  {% load static %}
  <script type="module" src="{% static 'js/register.js' %}" defer></script>
{% endblock content %}
