<div id="sidemenu" class="col-md-2 pt-3">
  <div class="py-md-0">
    <ul class="list-group">
      <li class="list-group-item border-0 color-bg-primary">
        <button class="btn btn-primary w-100"
                onclick="window.location.href='{% url 'main_page' %}'">Kompletní rozpočet</button>
      </li>
      {% for budget in budgets %}
        {% if budget.owner_id == request.user.id %}
          <li class="list-group-item border-0 color-bg-primary">
            <button class="btn btn-primary w-100"
                    onclick="window.location.href='{% url 'budget_view' budget_id=budget.id %}'">
              {{ budget.name }}
            </button>
          </li>
        {% else %}
          <li class="list-group-item border-0 color-bg-primary">
            <button class="btn btn-secondary w-100"
                    onclick="window.location.href='{% url 'budget_view' budget_id=budget.id %}'">
              {{ budget.name }}
            </button>
          </li>
        {% endif %}
      {% endfor %}
      <li class="list-group-item border-0 color-bg-primary">
        <button type="button"
                class="btn w-100 border-0 color-bg-secondary"
                data-bs-toggle="modal"
                data-bs-target="#budget-modal"
                id="add-budget-button">
          <i class="fas fa-plus"></i>
        </button>
      </li>
    </ul>
  </div>
</div>
