<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}
  Tutoriál
{% endblock title %}
{% block content %}
  <div class="col-md-12 pt-3">
    <div class="row min-vw-100 container d-flex justify-content-center align-items-center px-5">
      <div class="tutorial">
        <h1>
          Vítejte, <span class="highlight">{{ request.user.first_name }} {{ request.user.last_name }}</span>!
        </h1>
        <p>
          <span class="icon">📂</span><strong>Nemáte žádné záznamy transakcí.</strong> Klikněte na možnost <strong>Vytvořit transakci</strong> pro přidání nové transakce. Můžete nastavit jak <strong>příchozí</strong>, tak i <strong>odchozí</strong> transakce.
        </p>
        <p>
          <span class="icon">🔄</span>Transakce lze nastavit jako opakující se <span class="highlight">denně</span>, <span class="highlight">týdně</span>, <span class="highlight">měsíčně</span> nebo <span class="highlight">ročně</span>. Tím si ušetříte čas při správě pravidelných výdajů a příjmů.
        </p>
        <p>
          <span class="icon">📊</span>Každé transakci můžete přiřadit <strong>kategorii</strong>, což vám pomůže sledovat své finance podle různých oblastí, jako jsou <strong>potraviny</strong>, <strong>bydlení</strong> nebo <strong>zábava</strong>.
        </p>
        <p>
          <span class="icon">📅</span>V levé nabídce si můžete vytvořit <strong>nové rozpočty</strong>, které vám usnadní plánování výdajů.
        </p>
        <p>
          <span class="icon">👤</span>Při najetí kurzoru na vaše jméno v pravém horním rohu se zobrazí nabídka, kde si můžete zkopírovat své <strong>unikátní ID</strong> pro sdílení, přepnout na <strong>tmavý režim</strong>, nastavit zobrazování rozpočtu nebo se <strong>odhlásit</strong>.
        </p>
        <div class="note">
          ℹ️ Pokud máte nějaké nápady co tu dodat, nebo jak tohle udělat ať to vypadá méně autisticky, tak neváhejte to změnit.
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
